<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hod Dashboard</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mt-4">Screen 3</h1>
        <h3 class="mb-4">HOD Dashboard</h3>
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
        {% if documents %}
        <div class="mt-4">
            <h2>Employee and Document Details</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Emp Code</th>
                        <th>Document No</th>
                        <th>Project</th>
                        <th>Date</th>
                        
                        <th>Action</th>
                        <th>App/rej</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                    <tr> 
                            <td>{{ document.empcode }}</td>
                        
                        <td>{{ document.document_no }}</td>
                        <td>{{ document.project_name }}</td>
                        <td>{{ document.date }}</td>
                                     
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#details_{{ document.id }}">View</button>
                        </td>
                        <td>
                            <button class="btn btn-success approve-btn" data-document-id="{{ document.id }}" >Approve</button>
                            <button class="btn btn-danger reject-btn"  data-document-id="{{ document.id }}"  >Reject</button>
                        </td>
                    </tr>
                    <tr id="details_{{ document.id }}" class="collapse">
                        <td colspan="6">
                            <h3>Document Details</h3>
                            <p><strong>Document No:</strong> {{ document.document_no }}</p>
                            <p><strong>Project:</strong> {{ document.project_name }}</p>
                            <p><strong>Order Serial No:</strong> {{ document.order_serial_no }}</p>
                            <p><strong>Department:</strong> {{ document.department }}</p>
                            <p><strong>Material Code:</strong> {{ document.material_code }}</p>
                            <p><strong>Material Description:</strong> {{ document.material_description }}</p>
                            <p><strong>Supplier Name:</strong> {{ document.supplier_name }}</p>
                            <p><strong>Quantity:</strong> {{ document.qty }}</p>
                            <p><strong>Value:</strong> {{ document.value }}</p>
                            <p><strong>Rejection Reason:</strong> {{ document.rejection_reason }}</p>
                            <p><strong>Reason for Rejection:</strong> {{ document.reason_for_rejection }}</p>
                            <p><strong>File:</strong> <a href="{{ document.file_upload.url }}" download>{{ document.file_upload }}</a></p>
                            <p><strong>Man Hours Wasted:</strong> {{ document.man_hours_wasted }}</p>
                            <p><strong>Machine Hours Wasted:</strong> {{ document.machine_hours_wasted }}</p>
                            <p><strong>Information to Buyer:</strong> {{ document.information_to_buyer }}</p>
                         
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No documents found for the employee.
        </div>
        {% endif %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <script>
        $(document).ready(function() {
            $('.approve-btn').click(function() {
                let documentId = $(this).data('document-id');
                $.ajax({
                    type: 'POST',
                    url: `/approve_document/${documentId}/`, 
                    dataType: 'json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(response) {
                        if (response && response.success) {
                            console.log('Removing row for document ID:', documentId);
                            $('#message-container').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">Employee document approved successfully.</div>`);
                            $('#details_' + documentId).prev('tr').remove();
                            $('#details_' + documentId).remove();
                        } else {
                            console.error('Error updating status or invalid response format');
                        }
                    },
                });
            });
            $('.reject-btn').click(function() {
                let documentId = $(this).data('document-id');
                $.ajax({
                    type: 'POST',
                    url: `/reject/${documentId}/`, 
                    dataType: 'json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(response) {
                        if (response && response.success) {
                            console.log('Removing row for document ID:', documentId);
                            $('#message-container').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">Employee document rejected successfully.</div>`);
                            $('#details_' + documentId).prev('tr').remove();
                            $('#details_' + documentId).remove();
                             
                        } else {
                            console.error('Error updating status or invalid response format');
                        }
                    },
                });
            });
        });
    </script>
    
</body>
</html>
